.area_cadastros {
  display: flex;
}

.cadastros {
  background-color: rgb(40, 225, 238);
  width: 15%;
  padding: 0.6%;
  border-radius: 10px;
  border: 4px solid black;
  position: relative;
  margin-right: 5%;
  margin-top: 3%;
}