<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
  <form action="/sqlite" method = "POST">
    <p> Nome <input type = "text" name = "name" /></p>
    <p> Senha <input type = "password" name = "senha" /></p>
    <p> E-mail <input type = "text" name = "email" /></p>
    <p> Posição <input type = "number" name = "posicao" /></p>
    <p><input type = "submit" value = "Submit" /></p>
 </form>
</body>
</html>