<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Flask</title>
</head>
<body>
  {% extends "menu.html" %}
  {% block content %}

  <h1>Sobre Flask</h1>
  <p>Flask é um framework para web escrito em Python.</p>
  <p>Aplicações que utilizam o framework Flask incluem Pinterest,
    LinkedIn e a própria página de comunidade do Flask</p>

  {% endblock %}
</body>
</html>